<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Image Processing App</title>
<link href="/static/styles/demo_style.css" rel="stylesheet" type="text/css">

<link href="/static/styles/smart_wizard.css" rel="stylesheet" type="text/css">
<link href="/static/styles/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.smartWizard.js"></script>



<script type="text/javascript">
    $(document).ready(function(){
  		$('#wizard').smartWizard({transitionEffect:'fade',onFinish:onFinishCallback});
    
      function onFinishCallback(){
         $('form').submit();
      }     
		});
</script>


</head><body>

<div class="demoHead">   
  <div>
    <div style="float:left;">
      <h1>Image Processing App</h1>
      <h2>a cloud-based app for Image Processing</h2>
    </div>
  
    <div style="clear:both;"></div>
  </div>

 

</div>


<form action="/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<br>
<table align="center" border="0" cellpadding="0" cellspacing="0">
<tr><td> 
<!-- Smart Wizard -->
        <h2>Upload image file </h2> 
  		<div id="wizard" class="swMain">
  			<ul>
  				<li><a href="#step-1">
                <label class="stepNumber">1</label>
                <span class="stepDesc">
                   Step 1<br />
                   <small>Select image file</small>
                </span>
            </a></li>
  				<li><a href="#step-2">
                <label class="stepNumber">2</label>
                <span class="stepDesc">
                   Step 2<br />
                   <small>Select image filter</small>
                </span>
            </a></li>
  				<li><a href="#step-3">
                <label class="stepNumber">3</label>
                <span class="stepDesc">
                   Step 3<br />
                   <small>Apply filter</small>
                </span>                   
             </a></li>
  				
  			</ul>
  			<div id="step-1">	
            <h2 class="StepTitle">Select image file</h2>



<h4>Choose the image file:</h4>
	
            <p>{{ form.non_field_errors }}</p>
			            <p>
            	{{ form.myfilefield.errors }}
                {{ form.myfilefield }}
            </p>
  				   
        </div>
  			<div id="step-2">
            <h2 class="StepTitle">Select Image Filter</h2>	<br>
           <h4>Choose Filter:</h4>
<h4>
<table border = '0' width = 90% align="center">
<tr>
<td><input type="radio" name="preset" value="gray">&nbsp;Gray</td>
<td><input type="radio" name="preset" value="sepia">&nbsp;Sepia</td>
<td><input type="radio" name="preset" value="poster">&nbsp;Poster</td>
</tr>
<tr>
<td><img src = '/static/images/gray.jpg' width='120px' ></td>
<td><img src = '/static/images/sepia.jpg' width='120px' ></td>
<td><img src = '/static/images/poster.jpg' width='120px' ></td>
</tr>
<tr>
<td><input type="radio" name="preset" value="blur">&nbsp;Blur</td>
<td><input type="radio" name="preset" value="edge">&nbsp;Edge</td>
<td><input type="radio" name="preset" value="solar">&nbsp;Solar</td>
</tr>
<td><img src = '/static/images/blur.jpg' width='120px' ></td>
<td><img src = '/static/images/edge.jpg' width='120px' ></td>
<td><img src = '/static/images/solar.jpg' width='120px' ></td>
</tr>
</h4>


</table>
        </div>                      
  			<div id="step-3">
            <h2 class="StepTitle">Aplly Filter</h2>	
	<br>
                     <h4>Click finish to apply filter to image.</h4><br>
			
        </div>
  			
  		</div>
	
 		
</td></tr>
</table>
</form>

	
</body>
</html>
