<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Image Processing App</title>
<link href="/static/styles/demo_style.css" rel="stylesheet" type="text/css">

<link href="/static/styles/smart_wizard.css" rel="stylesheet" type="text/css">
<link href="/static/styles/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.smartWizard.js"></script>



</head><body>

<div class="demoHead">   
  <div>
    <div style="float:left;">
      <h1>Image Processing App</h1>
      <h2>a cloud-based app for Image Processing</h2>
    </div>
  
    <div style="clear:both;"></div>
  </div>

 

</div>

<table align="center" border="0" cellpadding="0" cellspacing="0">
<tr><td> 
<center>
<h4>Image filter has been successfully applied. </h4>
</center>
<br>
<img src = '/static/output/{{outputfilename}}' width='800px' >
 		
</td></tr>
</table>
    		
</body>
</html>
