<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Live Streaming App</title>
<link href="/static/styles/demo_style.css" rel="stylesheet" type="text/css">

<link href="/static/styles/smart_wizard.css" rel="stylesheet" type="text/css">
<link href="/static/styles/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.smartWizard.js"></script>



</head><body>

<div class="demoHead">   
  <div>
    <div style="float:left;">
      <h1>Live Streaming App</h1>
      <h2>a cloud-based app for live video streaming</h2>
    </div>
  
    <div style="clear:both;"></div>
  </div>

 

</div>

<table align="center" border="0" cellpadding="0" cellspacing="0">
<tr><td> 
<!-- Smart Wizard -->
        <h2>Streaming Instance Created</h2> 
<div id="streampage">
			<h5>Streaming instance is now running. You can now start streaming your video using the Flash Media Encoder. </h5><br><br>

			<h5>Stream: </h5> livestream
			<br><br><br>

		
			</div>
		
	
 		
</td></tr>
</table>
    		
</body>
</html>
