/*----------------------------------------------------------------------
[Master Stylesheet]

	Project:        Ark - Responsive Multi-Purpose Theme
	Version:        2.8
	Author:         Prothemes.net
	Primary use:    Corporate, Business, Portfolio, Landing, Shop, Blog and One Page Themes.
	Email: 			prothemes.net@gmail.com
	Website:		http://www.prothemes.net


[Table of Contents]

	1. Base
	2. Blog Classic
	3. Blog Grid
	4. Blog Sidebar
	5. Blog Single Post
	7. Blog Teaser
	7. News
	8. Accordion
	9. Alerts
	10. Blockquotes
	11. Breadcrumbs
	12. Comment Form
	13. Dividers
	14. Dropcap
	15. Heading
	16. Icon List
	17. Image Popup
	18. Lists
	19. Login Form
	20. Pagination
	21. Progress Bar
	22. Radio Checkbox
	23. Scroll to Section
	24. Segment Controls
	25. Sliding Background
	26. Spinbox
	27. Star Ratings
	28. Tab
	29. Tables
	30. Table Wrap
	31. Theme Icons
	32. Timeline
	33. Call to Action
	34. Clients
	35. Countdown
	36. Counters
	37. Diagonal Content
	38. Equal Height Block
	39. Icon Box
	40. Image Gallery
	41. Interactive Banner
	42. Newsletter
	43. Banner Image
	44. Parallax
	45. Piecharts
	46. Process
	47. Promo Block
	48. Services
	49. Slider Block
	50. Team Members
	51. Testimonials
	52. Video
	53. Work
	54. Footer (Default)
	55. Footer v2
	56. Footer v3
	57. Footer v4
	58. Footer v5
	59. Footer v6
	60. Footer v7
	61. Footer v8
	62. Header
	63. Header Center Aligned
	64. Header Center Aligned Transparent
	65. Header Fullscreen
	66. Header Section Scroll
	67. Header Transparent
	68. Header Vertical
	69. Language
	70. Language Push
	71. Responsive
	72. Form Modal
	73. Search Default
	74. Search Classic
	75. Search Fullscreen
	76. Search On Header
	77. Search Push
	78. Sidebar
	79. Topbar Classic
	80. Topbar e-Commerce
	81. Topbar Transparent
	82. Coming Soon
	83. Contact Us
	84. FAQ
	85. Shopify
	86. Animated Headline
	87. Animsition
	88. Back to Top
	89. Bootstrap Components
	90. Google Maps
	91. Masonry Grid
	92. Owl Carousel
	93. Portfolio
	94. Revolution Slider
	95. Swiper
	96. Switch
	97. Blue Theme Color
	98. Base Theme Color
	99. Blue Theme Color
	100. Blue Grey Theme Color
	101. Gold Theme Color
	102. Green Theme Color
	103. Grey Theme Color
	104. Pink Theme Color
	105. Purple Theme Color
	106. Red Theme Color
	107. Teal Theme Color
	108. Colors
	109. Helpers
-----------------------------------------------------------------------*/

/* =================================================================
    [Primary Sass files]
================================================================= */

// Custom
// =================================================================

@import 'mixins'; // Mixins
@import 'variables'; // Variables


// Base
// =================================================================

@import 'base/base'; // Base


// Blogs
// =================================================================

@import 'blog/blog-classic'; // Blog Classic
@import 'blog/blog-grid'; // Blog Grid
@import 'blog/blog-sidebar'; // Blog Sidebar
@import 'blog/blog-single-post'; // Blog Single Post
@import 'blog/blog-teaser'; // Blog Teaser
@import 'blog/news'; // News


// Components
// =================================================================

@import 'components/accordion'; // Accordion
@import 'components/alerts'; // Alerts
@import 'components/blockquotes'; // Blockquotes
@import 'components/breadcrumbs'; // Breadcrumbs
@import 'components/buttons'; // Buttons
@import 'components/comment-form'; // Comment Form
@import 'components/dividers'; // Dividers
@import 'components/dropcap'; // Dropcap
@import 'components/heading'; // Heading
@import 'components/icon-list'; // Icon List
@import 'components/image-popup'; // Image Popup
@import 'components/lists'; // Lists
@import 'components/login-form'; // Login Form
@import 'components/paginations'; // Paginations
@import 'components/progress-bar'; // Progress Bar
@import 'components/radio-checkbox'; // Radio Checkbox
@import 'components/scroll-to-section'; // Scroll To Section
@import 'components/segment-controls'; // Segment Controls
@import 'components/sliding-bg'; // Sliding Background
@import 'components/spinbox'; // Spinbox
@import 'components/star-ratings'; // Star Ratings
@import 'components/tab'; // Tab
@import 'components/tables'; // Tables
@import 'components/table-wrap'; // Table Wrap
@import 'components/theme-icons'; // Theme Icons
@import 'components/timeline'; // Timeline


// Gui
// =================================================================

@import 'gui/call-to-action'; // Call To Action
@import 'gui/clients'; // Clients
@import 'gui/countdown'; // Countdown
@import 'gui/counters'; // Counters
@import 'gui/diagonal-content'; // Diagonal Content
@import 'gui/equal-height-block'; // Equal Height Block
@import 'gui/icon-box'; // Icon Box
@import 'gui/image-gallery'; // Image Gallery
@import 'gui/interactive-banner'; // Interactive Banner
@import 'gui/newsletter'; // Newsletter
@import 'gui/banner-img'; // Banner Img
@import 'gui/parallax'; // Parallax
@import 'gui/piecharts'; // Piecharts
@import 'gui/pricing-list'; // Pricing List
@import 'gui/process'; // Process
@import 'gui/promo-block'; // Promo Block
@import 'gui/services'; // Services
@import 'gui/slider-block'; // Slider Block
@import 'gui/team-members'; // Team Members
@import 'gui/testimonials'; // Testimonials
@import 'gui/video'; // Video
@import 'gui/work'; // Work


// Layout
// =================================================================

@import 'layout/footer'; // Footer
@import 'layout/footer-v2'; // Footer v2
@import 'layout/footer-v3'; // Footer v3
@import 'layout/footer-v4'; // Footer v4
@import 'layout/footer-v5'; // Footer v5
@import 'layout/footer-v6'; // Footer v6
@import 'layout/footer-v7'; // Footer v7
@import 'layout/footer-v8'; // Footer v8
@import 'layout/header'; // Header
@import 'layout/header-center-aligned'; // Header Center Aligned
@import 'layout/header-center-aligned-transparent'; // Header Center Aligned Transparent
@import 'layout/header-fullscreen'; // Header Fullscreen
@import 'layout/header-section-scroll'; // Header Section Scroll
@import 'layout/header-slide'; // Header Slide
@import 'layout/header-transparent'; // Header Transparent
@import 'layout/header-vertical'; // Header Vertical
@import 'layout/language'; // Language
@import 'layout/language-push'; // Language Push
@import 'layout/responsive'; // Responsive
@import 'layout/form-modal'; // Form Modal
@import 'layout/search'; // Search Default
@import 'layout/search-classic'; // Search Classic
@import 'layout/search-fullscreen'; // Search Fullscreen
@import 'layout/search-on-header'; // Search On Header
@import 'layout/search-push'; // Search Push
@import 'layout/sidebar'; // Sidebar
@import 'layout/topbar-classic'; // Topbar Classic
@import 'layout/topbar-e-commerce'; // Topbar e-Commerce
@import 'layout/topbar-transparent'; // Topbar v3


// Pages
// =================================================================

@import 'pages/coming-soon'; // Coming Soon
@import 'pages/contact-us'; // Contact Us
@import 'pages/faq'; // FAQ
@import 'pages/shopify'; // Shopify


// Plugins
// =================================================================

@import 'plugins/animated-headline'; // Animated Headline
@import 'plugins/animsition'; // Animsition
@import 'plugins/back-to-top'; // Back To Top
@import 'plugins/bootstrap-components'; // Bootstrap Components
@import 'plugins/google-maps'; // Google Maps
@import 'plugins/masonry-grid'; // Masonry Grid
@import 'plugins/owl-carousel'; // Owl Carousel
@import 'plugins/portfolio'; // Portfolio
@import 'plugins/rev-slider'; // Revolution Slider
@import 'plugins/swiper'; // Swiper
@import 'plugins/switch'; // Switch


// Theme
// =================================================================

@import 'theme/dark'; // Dark Theme Color
@import 'theme/base-color'; // Base Theme Color
@import 'theme/blue-color'; // Blue Theme Color
@import 'theme/blue-grey-color'; // Blue Grey Theme Color
@import 'theme/gold-color'; // Gold Theme Color
@import 'theme/green-color'; // Green Theme Color
@import 'theme/grey-color'; // Grey Theme Color
@import 'theme/pink-color'; // Pink Theme Color
@import 'theme/purple-color'; // Purple Theme Color
@import 'theme/red-color'; // Red Theme Color
@import 'theme/teal-color'; // Teal Theme Color


// Utils
// =================================================================

@import 'utils/colors'; // Colors
@import 'utils/helpers'; // Helpers

