<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- HEAD -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Photo Gallery</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/global.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="assets/plugins/jquery.min.js"></script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>

<!-- WRAPPER -->
<div class="wrapper">
    
    
    <!--========== BACKGROUND COLOR SKY LIGHT ==========-->
    <div class="bg-color-sky-light">
        <br>
   <center><h2>Photo Gallery</h2>
    <br>
    {{message}}    
    {% if resetresult==True %}
     <br>Click  <a href="/login">here</a> to login
    {% endif %}
    </center>

        {% if result==True or resetresult==False %}
        <!--========== PAGE CONTENT ==========-->
        <div class="content-sm container">
            <div class="row">
                <div class="col-md-12 md-margin-b-50">
                    <!-- Blog Grid -->
                    <article class="blog-grid margin-b-30">
                        <!-- Blog Grid Content -->
                        <div class="blog-grid-content">
                            <h2 class="blog-grid-title-lg">Reset Password</h2>
<form  method='post' action="/reset-password" enctype="multipart/form-data">
                           
                           <input type="text" name="username1" id="username1" class="form-control" placeholder="Enter username" value={{username}}>
<br>
<input type="text" name="code" id="code" class="form-control" placeholder="Enter confirmation code">
<br>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter new password" >
                            <br>
                            <input type="password" name="password1" id="password1" class="form-control" placeholder="Repeat new password" >
                            <br>
                            <button type="submit" class="btn-base-bg btn-base-sm radius-3" >
                                Submit</button>
                            </form>
                        </div>
                        <!-- End Blog Grid Content -->
                    </article>
                    <!-- End Blog Grid -->
                     <a href="/login">Login</a> |  <a href="/signup">Signup</a>
                </div>

               
            </div>
            <!--// end row -->
        </div>
        <!--========== END PAGE CONTENT ==========-->
         {% else %}
         <!--========== PAGE CONTENT ==========-->
        <div class="content-sm container">
            <div class="row">
                <div class="col-md-12 md-margin-b-50">
                    <!-- Blog Grid -->
                    <article class="blog-grid margin-b-30">
                        <!-- Blog Grid Content -->
                        <div class="blog-grid-content">
                            <h2 class="blog-grid-title-lg">Forgot Password</h2>
<form  method='post' action="/forgot-password"  enctype="multipart/form-data">
                           
                           
                            <input type="text" name="username" id="username" class="form-control" placeholder="Enter username">
<br>
                            <button type="submit" class="btn-base-bg btn-base-sm radius-3" >
                                Submit</button>
                            </form>
                        </div>
                        <!-- End Blog Grid Content -->
                    </article>
                    <!-- End Blog Grid -->
                     <a href="/login">Login</a> |  <a href="/signup">Signup</a>
                </div>

               
            </div>
            <!--// end row -->
        </div>
        <!--========== END PAGE CONTENT ==========-->
        {% endif %}


    </div>
    <!--========== END BACKGROUND COLOR SKY LIGHT ==========-->
    
    
</div>
<!-- END WRAPPER -->

<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/scripts/app.js"></script>
</body>
<!-- END BODY -->

</html>
